<div class="row dark_background center">
  <h2 class="center">Your Donation History</h2>
  
<% if @histories.length == 0 %>
    <h4 class="center">You have no donation history. <%= link_to 'Donate', "/donations/new" %> today!</h4>
 <% else %>
    <% @histories.each do |h| %>
        <h4><span class="underline"><%="Donation \##{h.id}" %></span></h4>
        <p class="top_padding">Donation amount: $<%= h.amount %></p>
        <p>Donated by: <%= h.user.name %></p>
        <p class="skinny">Message: "<%= h.message %>" </p>
        <p> <%= link_to "Edit your message", "/donations/#{h.id}/edit" %> </p>
        <%= form_tag("/history", method: '') do  %>
          <div class="form-group">
            <%= hidden_field_tag :donation_id, h.id %>
            <!-- <a href="/donations/edit">Edit this message</a> -->

          </div>
        <% end %>

  <% end %>
<% end %>
</div>