<div class="dark_background left_padding">

  <div class="row">
      <div class="col-sm-4">
      <% if session["user_id"].present? %>
        <% @user = User.find_by_id(session["user_id"]) %>
        <h2>Donate to the RuPaul 2020 Campaign!</h2>

        <%= form_tag("/donations", method: 'post') do  %>
          <div class="form-group">
            <%= label_tag :name, "Name:" %>
            <%= text_field_tag :name, "#{@user.name}", :readonly => true, class: 'form-control' %>
            <%= hidden_field_tag :user_id, @user.id %>
          </div>

          <div class="form-group">
            <%= label_tag :amount, "Donation Amount:" %>
            <%= text_field_tag :amount, "", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag :card_number, "Enter your card number:" %>
            <%= text_field_tag :card_number, "", class: 'form-control' %>

          </div>

          <div class="form-group">
            <%= label_tag :message, "Your message to RuPaul:" %>
            <%= text_field_tag :message, "", class: 'form-control' %>
          </div>

          <%= submit_tag "Donate", class: 'btn btn-success btn-lg'%>
          or
          <%= link_to "Cancel", root_url %>

        <% end %>
      <% else %>
        <h4>Please sign up or sign in to donate.</h4>
      <% end %>

      </div>
  </div>
</div>